aiodns==3.0.0
aiofile==3.7.4
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
caio==0.9.5
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptofeed==2.2.1
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
order-book==0.4.1
pycares==4.1.2
pycparser==2.21
PyYAML==6.0
requests==2.27.1
urllib3==1.26.8
uvloop==0.16.0
websockets==10.2
yapic.json==1.7.2
yarl==1.7.2
